{
  "globalShortcut": "",
  "mcpServers": {
    "brave-search": {
      "command": "{{HOME}}/.dotfiles/claude/npx_launcher.sh",
      "args": ["-y", "@modelcontextprotocol/server-brave-search"],
      "env": {
        "BRAVE_API_KEY": ""
      }
    },
    "fetch": {
      "command": "uvx",
      "args": ["mcp-server-fetch", "--ignore-robots-txt"]
    },
    "filesystem": {
      "command": "{{HOME}}/.dotfiles/claude/npx_launcher.sh",
      "args": [
        "-y",
        "@modelcontextprotocol/server-filesystem",
        "{{HOME}}/Developer",
        "{{HOME}}/.dotfiles"
      ]
    },
    "github": {
      "command": "{{HOME}}/.dotfiles/claude/npx_launcher.sh",
      "args": ["-y", "@modelcontextprotocol/server-github"],
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": ""
      }
    },
    "mcp-server-commands": {
      "command": "{{HOME}}/.dotfiles/claude/npx_launcher.sh",
      "args": ["-y", "mcp-server-commands"]
    },
    "package-version": {
      "command": "{{HOME}}/.dotfiles/claude/npx_launcher.sh",
      "args": ["-y", "mcp-package-version"]
    },
    "puppeteer": {
      "command": "{{HOME}}/.dotfiles/claude/npx_launcher.sh",
      "args": ["-y", "@modelcontextprotocol/server-puppeteer"]
    },
    "sequential-thinking": {
      "command": "{{HOME}}/.dotfiles/claude/npx_launcher.sh",
      "args": ["-y", "@modelcontextprotocol/server-sequential-thinking"]
    }
  }
}
